<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
			<p>Thanks for applying. Your application is now on record. You can now safely close your browser, or <%= link_to 'submit another application', root_path %>.</p>
			<p>If you made a mistake, you can still <%= link_to 'edit your application', edit_application_path(@application) %>.</p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>