<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <dl>
				<dt>Name</dt>
				<dd><%= @application.name %></dd>

				<dt>Email</dt>
				<dd><%= @application.email %></dd>
			</dl>

      <div class="wat-cf">
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>