@import "vendor/_reset";
@import "_settings";
@import "_utilities";
@import "web_app_theme";
@import "web_app_theme_override";
@import "amro";

.js .js-hide{ display: none; }
/*#header h1{ .ir; background-image: url(/images/ChautNameA.gif); }*/
#poster_top{ margin-top: 10px; }

.subtext{ font-size: 90%; }
#more_info{ border-top: 1px solid #ccc; }


.applications-show{
	dt{ font-weight: bold; margin: 0.7em 0.3em; }
	dd{ margin-left: 1em; }
}

.actions{
	a{ .radius; padding: 0.4em 0.8em; background-color: #008080; color: #fff; display: block; float: left; margin: 0 0.3em; text-decoration: none; }
	a:hover, a.active{ background-color: #E8C53B; }
}

@import "vendor/_formtastic";
@import "_formtastic_changes";
