@import "vendor/_reset";
@import "_settings";
@import "_utilities";
@import "web_app_theme";
@import "web_app_theme_override";
@import "amro";

.js .js-hide{ display: none; }
/*#header h1{ .ir; background-image: url(/images/ChautNameA.gif); }*/
#poster_top{ margin-top: 10px; }

.subtext{ font-size: 90%; }
#more_info{ border-top: 1px solid #ccc; }


.applications-show{
	dt{ font-weight: bold; margin: 0.7em 0.3em; }
	dd{ margin-left: 1em; }
}

@import "vendor/_formtastic";
@import "_formtastic_changes";
